<div class="first-section">
    <div>
        <img width="100px"
            src="{{_searchMusicService.infoSong?.album?.cover_medium! != undefined ? _searchMusicService.infoSong?.album?.cover_medium! : _searchMusicService.albumCover}}"
            alt="album_photo">
    </div>
    <div>
        <span class="songTitle"><a>{{_searchMusicService.infoSong?.title!}}</a></span>
        <span class="songDescription"><a>{{_searchMusicService.infoSong?.artist?.name! }} -
                {{_searchMusicService.infoSong?.album?.title!}}</a></span>
    </div>
</div>

<div class="second-section">
    <div class="player-controls">
        <div class="back">
            <fa-icon class="faIcon" [icon]="stepBackwardIcon"></fa-icon>
        </div>
        <div class="play">
            <fa-icon class="faIcon circle-icon" [icon]="!_searchMusicService.isPlayingAudio==true?playIcon:pauseIcon"
                (click)="onPlayPause()">
            </fa-icon>
        </div>
        <div class="for">
            <fa-icon class="faIcon" [icon]="stepForwardIcon"></fa-icon>
        </div>
    </div>
</div>

<div class="third-section">
    <div class="">
        <span class="float-end">control</span>
    </div>
    <div class="">
        <fa-icon class="faIcon" [icon]="volumeUpIcon"></fa-icon>
    </div>
</div>