.container-album {
    margin-top: 20px;
    margin-bottom: 20px;
}

.background {
    background: #A70000B2;
}

.info {
    align-self: center;
    padding: 10px;
}

.photo {
    width: -webkit-fill-available;
    max-width: 250px;
    max-height: 250px;
    min-height: 160px;
    min-width: 160px;
}

.thumbnail-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-wrapper fa-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.faIcon {
    color: white;
    font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
}

.faIcon:hover {
    cursor: pointer;
}

.labelResultados {
    font-weight: bold;
    color: #E86060;
    font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
    margin-bottom: 20px;
}

.photo {
    float: left;
}

.info {
    float: left;
}

.title {
    color: #FFFFFF;
    font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
    font-weight: bold;
}

.album {
    color: #FFFFFF;
    font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
}

.artist {
    color: #FFFFFF;
    font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
}

@media (max-width: 600px) {
    .container-album {
        display: none;
    }
}