.thumbnail-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-wrapper fa-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.faIcon {
    color: white;
    font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
}

.faIcon:hover {
    cursor: pointer;
}