<section class="showResults">
<h3 class="labelResultados">Resultados</h3>
<span *ngIf="_searchMusicService?.listResults == undefined">No hay resultados para mostrar, pruebe buscando un título</span>

<div *ngIf="_searchMusicService?.listResults != undefined" class="grid-container">
    <div class="card song" *ngFor="let song of _searchMusicService?.listResults" (click)="onSendSong(song)">
        <img class="card-img-top album_photo" src="{{song.album.cover_medium}}" alt="album_photo">
        <div class="card-body">
            <h5 class="title">
                {{song.title}}
            </h5>
            <p class="artist">
                {{song.artist.name}}
            <p>
        </div>
    </div>
</div>
</section>