p {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

a {
    color: #FFFFFF;
    font-size: 16px;
}

a.active {
    border-left: 5px solid #E86060;
    color: #E86060;
    font-weight: bold;
}