<div class="menu_container">
    <img class="logo" srcset="assets/images/foxbel-music.png 401w,
    assets/images/foxbel-music@2x.png 800w,
    assets/images/foxbel-music@3x.png 1200w" sizes="(max-width: 401px) 361px,
    (max-width: 800px) 760px,
    1200px" src="assets/images/foxbel-music@2x.png" alt="FoxbelMusic Logo">

    <div class="mi_libreria">
        <span class="section">Mi librería</span>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Recientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Artistas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Álbums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Canciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Estaciones</a>
            </li>
        </ul>
    </div>

    <div class="playlist">
        <span class="section">Playlist</span>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Metal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Para bailar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rock 90s</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Baladas</a>
            </li>
        </ul>
    </div>
</div>