
    <div class="media d-flex align-items-center">
        <img src="../../../assets/images/foxbel-music.png" alt="foxbelmusic_logo" width="100%">
    </div>
    
    <p class="px-3 small pb-2 mb-0">Mi librería</p>

    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link active">
                Recientes
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Artistas
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Álbums
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Canciones
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Estaciones
            </a>
        </li>
    </ul>

    <p class="px-3 small py-2 mb-0">Playlist</p>

    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link">
                Metal
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Para bailar
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Rock 90s
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                Baladas
            </a>
        </li>
    </ul>
